<div class="modal-popup-container">
    <div class="card-heading">
      <h1>Delete</h1>
      <mat-dialog-actions class="close-btn">
          <span class="material-icons" mat-dialog-close>clear</span>
      </mat-dialog-actions>
    </div>
    <mat-dialog-content> 
        <div class="shadow-none font-weight-500">
            Are you sure you want to delete this address ?
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="bt-1">
      <button class="default-btn" mat-button mat-dialog-close >No</button>
      <button mat-button class="default-btn" [mat-dialog-close]="true">Yes</button>
    </mat-dialog-actions>
  </div>