<div class="journey-summary">
    <div class="card-heading">
            <div class="journey-destinations">
                <div class="journey-title">Journey Summary</div>
                <span>Portsmouth Harbour</span>
                <i class="material-icons">trending_flat</i>
                <span>London Waterloo</span>
            </div>
      
    </div>
    <div class="card-content">
        <div class="bottom-journey-pannel">
                <h2>Ticket</h2>
                <div class="row mb-3">
                    <div class="col-lg-5 d-flex">
                        <button mat-button class="journeyType">Ouward</button>
                        <div class="journey-peak-offer">
                            <span class="journey-timming">Fri 8 Feb 11:00AM - 02:00PM</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="journey-hours">
                            <span>0 Changes | 1:36hrs</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 d-flex">
                        <button mat-button class="journeyType">Return</button>
                        <div class="journey-peak-offer">
                            <span class="journey-timming">Fri 8 Feb 11:00AM - 02:00PM</span>
                            <div class="off-return">
                                <span>Super Off-Peah Day Return</span>
                                <p>Travel is allowed via any permitted routs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="journey-hours">
                            <span>0 Changes | 1:36hrs</span>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="d-flex justify-content-between mt-3">
                            <span class="ticket-restriction">
                                <i class="material-icons">info_outline</i>
                                View ticket restrictions
                            </span>
                            <div class="journey-price">£<span>36.50</span></div>
                        </div>

                    </div>

                </div>
        </div>
        <div class="bottom-journey-pannel">
            <div class="seating-position">
              <h2>Seating</h2>
              <div class="row mb-3">
                  <div class="col-lg-3 d-flex">
                      <button mat-button class="journeyType">Outward</button>
                      <div class="journey-prefrences">
                          <span>Seat Position</span>
                          <p>No Preference</p>
                      </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="journey-prefrences">
                          <span>Seat Position</span>
                          <p>No Preference</p>
                      </div>
                  </div>
                  <div class="col-lg-2">
                      <div class="journey-prefrences">
                          <span>Seat Position</span>
                          <p>No Preference</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-3 d-flex">
                      <button mat-button class="journeyType">Return</button>
                      <div class="journey-prefrences">
                          <span>Seat Position</span>
                          <p>No Preference</p>
                      </div>
                  </div>

                  <div class="col-lg-2">
                      <div class="journey-prefrences">
                          <span>Seat Position</span>
                          <p>No Preference</p>
                      </div>
                  </div>
                  <div class="col-lg-2">
                      <div class="journey-prefrences">
                          <span>Seat Position</span>
                          <p>No Preference</p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="bottom-journey-pannel  collect-ticket">
            <div class="row">
                <div class="col-md-7">
                    <h2>Mode of Delivery</h2>
                </div>
                <div class="col-md-5">
                    <p class="mb-2"><strong>Collect your ticket from the station</strong></p>
                    <p>Collect your ticket from the <strong>Portsmouth Harbour</strong> station. Reference site about Lorem Ipsum,  giving information on its origins</p>
                </div>
            </div>
        </div>
        <div class="bottom-journey-pannel  collect-ticket">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <h2>Payment Mode</h2>
                </div>
                <div class="col-md-5 text-right">
                   <p class="mode-via"> <img src=".../../../../assets/images/visa.png">Visa Card</p>
                </div>
            </div>
        </div>
    </div>
</div>