<div class="smart-card-wrapper myprefrences-container">
    <!-- smart cards -->
    <div class="row no-gutters mb-3">
        <div class="col-12">
            <div class="preferences-box">
                <h3 class="sub-title">Smart Cards</h3>
                <div class="row no-gutters">
                    <div class="col-12 col-sm-12 smart-card-detail-block">
                        <p class="smart-card-title">You have no Registered Smart Card</p>
                        <p class="smart-card-info">Click on <span>"select an option"</span> button to register your
                            smart card</p>
                        <div>
                            <div class="smartcard-select-block">
                                <mat-form-field floatLabel="never" class="fix-selectfield">
                                    <mat-label>Select an option</mat-label>
                                    <mat-select panelClass="smartcard-dropdown">
                                        <mat-option>Select an option</mat-option>
                                        <mat-option value="option2">Apply for a smartcard
                                        </mat-option>
                                        <mat-option value="option3">Register a smartcard
                                        </mat-option>
                                        <mat-option value="option2">View smartcard history
                                        </mat-option>
                                        <mat-option value="option3">View history schedules
                                        </mat-option>
                                        <mat-option value="option2">Order a replacement card
                                        </mat-option>
                                        <mat-option value="option3">Rport an issue
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--  -->
</div>