<div class="card-details-wrapper myprefrences-container">
    <div class="row no-gutters">
        <div class="col-12">
            <h2 class="sub-title">Payments & Vouchers</h2>
        </div>
    </div>

    <!-- card details -->
    <div class="row no-gutters mb-3">
        <div class="col-12">
            <div class="preferences-box">
                <h3 class="sub-title">Card Details</h3>
                <div class="row no-gutters">
                    <div class="col-12 col-sm-6 payment-voch-block">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="card-title"> <span class="visa-icon"></span> <span
                                        class="pmt-card-type">Personals</span></p>
                                <ul class="card-info">
                                    <li>Card Number: <span class="user-info">123XXXXXXXX865</span></li>
                                    <li>Full Name: <span class="user-info">John Doe</span>
                                    </li>
                                    <li>Start Date: <span class="user-info">12/2018 </span>
                                    </li>
                                    <li>Expiry Date: <span class="user-info">24/2024</span>
                                    </li>
                                    <li>
                                        <mat-radio-button value="1" [checked]="true">Set as default device.
                                        </mat-radio-button>
                                    </li>

                                </ul>

                            </div>
                            <div class="">
                                <button mat-icon-button color="primary">
                                    <span class="trash-icon"></span>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-sm-6 payment-voch-block">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <p class="card-title"><span class="american-exp-icon"></span> <span
                                        class="pmt-card-type">Business</span></p>
                                <ul class="card-info">
                                    <li>Card Number: <span class="user-info">123XXXXXXXX865</span></li>
                                    <li>Full Name: <span class="user-info">John Doe</span>
                                    </li>
                                    <li>Start Date: <span class="user-info">12/2018 </span>
                                    </li>
                                    <li>Expiry Date: <span class="user-info">24/2024</span>
                                    </li>
                                    <li>
                                        <mat-radio-button value="1" [checked]="true">Set as default device.
                                        </mat-radio-button>
                                    </li>

                                </ul>

                            </div>
                            <div class="">
                                <button mat-icon-button color="primary">
                                    <span class="trash-icon"></span>
                                </button>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--  -->

</div>