<div class="booking-ticket-block-wrapper">
    <div class="booking-detail-block">
        <div class="row no-gutters trip-detail-container">
            <div class="col-12 badge-container"> <span class="badge-upcoming">Upcoming</span>
                <span class="badge-fav"> <span class="material-icons">
                        star_outline
                    </span> Favourite</span>
            </div>
            <div class="col-12 col-sm-3"><span class="date">27</span> <span class="day-year">
                    <p>May,Mon</p>
                    <p>2019</p>
                </span> </div>
            <div class="col-12 col-sm-4">
                <p>Portsmouth Harbour to London Waterloo</p>
                <p>Single Off-Peak</p>
            </div>
            <div class="col-12 col-sm-3">
                <p>Booking ID:2DSCTWTH</p>
                <p>Booked on 22 May, Wed, 2019</p>
            </div>
            <div class="col-12 col-sm-2">
                <button mat-flat-button class="trip-buy-btn">Buy Again
                </button>
            </div>
        </div>

        <div class="row no-gutters trip-detail-footer">
            <div class="col-12 col-sm-8">
                <span class="info-icon customicon"></span>
            </div>

            <div class="col-12 col-sm-4 text-right">
                <button mat-flat-button class="view-booking-btn">Print</button>

                <button mat-flat-button class="print-btn">View Booking</button>

            </div>
        </div>
    </div>
    <div class="booking-detail-block">
        <div class="row no-gutters trip-detail-container">
            <div class="col-12 badge-container"> <span class="badge-travelled">travelled</span>
            </div>
            <div class="col-12 col-sm-3"><span class="date">27</span> <span class="day-year">
                    <p>May,Mon</p>
                    <p>2019</p>
                </span> </div>
            <div class="col-12 col-sm-4">
                <p>London Marylebone to Birmingham Moor Street</p>
                <p>Single Off-Peak</p>
            </div>
            <div class="col-12 col-sm-3">
                <p>Booking ID:2DSCTWTH</p>
                <p>Booked on 22 May, Wed, 2019</p>
            </div>
            <div class="col-12 col-sm-2">
                <button mat-flat-button class="trip-buy-btn">Buy Again
                </button>
            </div>
        </div>

        <div class="row no-gutters trip-detail-footer">
            <div class="col-12 col-sm-8">
                <span class="info-icon">

                </span>
            </div>

            <div class="col-12 col-sm-4 text-right">
                <button mat-flat-button class="view-booking-btn">Print</button>

                <button mat-flat-button class="print-btn">View Booking</button>

            </div>
        </div>
    </div>
    <div class="booking-detail-block">
        <div class="row no-gutters trip-detail-container">
            <div class="col-12 badge-container"> <span class="badge-travelled">travelled</span>
            </div>
            <div class="col-12 col-sm-3"><span class="date">27</span> <span class="day-year">
                    <p>May,Mon</p>
                    <p>2019</p>
                </span> </div>
            <div class="col-12 col-sm-4">
                <p>London Marylebone to Birmingham Moor Street</p>
                <p>Single Off-Peak</p>
            </div>
            <div class="col-12 col-sm-3">
                <p>Booking ID:2DSCTWTH</p>
                <p>Booked on 22 May, Wed, 2019</p>
            </div>
            <div class="col-12 col-sm-2">
                <button mat-flat-button class="trip-buy-btn">Buy Again
                </button>
            </div>
        </div>

        <div class="row no-gutters trip-detail-footer">
            <div class="col-12 col-sm-8">
                <span class="info-icon">

                </span>
            </div>

            <div class="col-12 col-sm-4 text-right">
                <button mat-flat-button class="view-booking-btn">Print</button>

                <button mat-flat-button class="print-btn">View Booking</button>

            </div>
        </div>
    </div>
    <div class="booking-detail-block">
        <div class="row no-gutters trip-detail-container">
            <div class="col-12 badge-container"> <span class="badge-travelled">travelled</span>
            </div>
            <div class="col-12 col-sm-3"><span class="date">27</span> <span class="day-year">
                    <p>May,Mon</p>
                    <p>2019</p>
                </span> </div>
            <div class="col-12 col-sm-4">
                <p>London Marylebone to Birmingham Moor Street</p>
                <p>Single Off-Peak</p>
            </div>
            <div class="col-12 col-sm-3">
                <p>Booking ID:2DSCTWTH</p>
                <p>Booked on 22 May, Wed, 2019</p>
            </div>
            <div class="col-12 col-sm-2">
                <button mat-flat-button class="trip-buy-btn">Buy Again
                </button>
            </div>
        </div>

        <div class="row no-gutters trip-detail-footer">
            <div class="col-12 col-sm-8">
                <span class="info-icon">

                </span>
            </div>

            <div class="col-12 col-sm-4 text-right">
                <button mat-flat-button class="view-booking-btn">Print</button>

                <button mat-flat-button class="print-btn">View Booking</button>

            </div>
        </div>
    </div>
</div>