<div class="confirmation-page">
    <p class="confirmation-msg text-center">Thank you for booking with us John</p>
    <div class="confimation-banner text-center">
        <img src="../../assets/images/profile-bgr.png">
        <div class="confirmation-details">
                <h2>Your booking references</h2>
                <span class="reference-number">9J7TJHFW</span>
                <p>You will receive a confirmation email shortly</p>
                <div class="check-confirmation">
                    <button mat-stroked-button class="check-account">View in your account</button>
                    <button mat-stroked-button class="check-mail">
                        <img src="../../assets/images/email.png">Email
                    </button>
                </div>
        </div>
    </div>
    <div class="container">
      <app-journey-summary></app-journey-summary>
      <app-nectar-card-confirmation></app-nectar-card-confirmation>
      <app-promo></app-promo>
    </div>
  
</div>
