<div class="voucher-wrapper myprefrences-container">
    <!-- Vouchers -->
    <div class="row no-gutters mb-3">
        <div class="col-12">
            <div class="preferences-box">
                <h3 class="sub-title">Vouchers</h3>
                <div class="nectar-voucher-block">
                    <div class="evoucher-block">
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="evoucher-title"><span class="evoucher-icon"></span><span>e Voucher</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-2">
                                <mat-form-field class="" appearance="none">
                                    <input matInput placeholder="" value="">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-2">
                                <mat-form-field class="" appearance="none">
                                    <input matInput placeholder="" value="">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-2">
                                <mat-form-field class="" appearance="none">
                                    <input matInput placeholder="" value="">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-2">
                                <mat-form-field class="" appearance="none">
                                    <input matInput placeholder="" value="">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-2">
                                <mat-form-field class="" appearance="none">
                                    <input matInput placeholder="" value="">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-2">
                                <div class="add-evoucher-btn-box">
                                    <button mat-button>Add</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="nectar-voucher-block">
                    <div class="gift-voucher-block">
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="gift-voucher-title"> <span class="evoucher-icon"></span><span>Gift
                                        Card</span> </div>
                            </div>
                        </div>
                        <div class="gift-coupon-wrapper">
                            <div class="gift-voucher-box">
                                <span>&pound;</span> 10.00
                            </div>
                            <div class="gift-voucher-box">
                                <span>&pound;</span> 15.00
                            </div>
                            <div class="gift-voucher-box">
                                <span>&pound;</span> 25.00
                            </div>
                            <div class="gift-voucher-box">
                                <span>&pound;</span> 50.00
                            </div>
                            <div class="gift-voucher-box">
                                <span>&pound;</span> 100.00
                            </div>

                        </div>

                        <div class="custom-gift-voucher-block">
                            <div class="custom-field-voucher">
                                <label for="" class="custom-field-lbl">Custom
                                    <span>&pound;</span></label>
                                <mat-form-field class="" appearance="none">
                                    <input matInput placeholder=" Enter a value" value="">
                                </mat-form-field>
                            </div>
                            <div class="custom-card-buy-btn">
                                <button mat-button> Buy</button>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  -->
</div>