.data-header-block
{
    display: flex;
    justify-content: space-between;
    background: #0092cc;
    padding: 8px 30px;
    align-items: center;
    overflow: hidden;
}
.left-header-block
{
    color: #fff;
}
.station-list
{
    align-items: center;
}
.station-list mat-icon
{
    margin: 0 20px;
}
.ticket-type
{
    display: flex;
}
.btn-date-cust span.day
{
    font-weight: 300;
    font-size: 12px;
    padding-right: 3px;
}
.btn-date-cust span.date
{
    font-weight: 600 !important;
    font-size: 12px;
    padding-right: 20px;
}
.btn-date-cust  mat-icon
{
    font-size: 16px;
    height: auto;
    width: 16px;
}