<div class="nector-card-loyalty-wrapper myprefrences-container ">
    <!-- nector card loyalty section -->
    <div class="row no-gutters mb-3">
        <div class="col-12">
            <div class="preferences-box">
                <h3 class="sub-title">Nectar Card Loyalty</h3>
                <div class="nectar-card-loyality-block">
                    <div class="row no-gutters">
                        <div class="col-12 col-sm-4">
                            <img src="/assets/images/nectar-card.png" alt="" class="img-fluid">

                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="nectar-right-content">
                                <p class="nectar-title">You do not currently have a Nectar card assigned to your
                                    account.</p>
                                <div class="nectar-addnew-btn mb-3">
                                    <button mat-button>Add One Now</button>
                                </div>
                                <p class="nectar-info-txt">Don't have a Nectar card? <a href="#" target="_blank">Click
                                        here</a> to apply(this will open in a new window) </p>

                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-6 col-sm-12">
                            <div class="nectar-check-info">
                                <mat-checkbox>I am not interested in using a Nectar card so don't show Nectar offers to
                                    me when purchasing a ticket
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-6 col-sm-12">
                            <a href="#"> <img src="/assets/images/nectar-card-loyality-banner.png" alt=""
                                    class="img-fluid"></a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--  -->
</div>