<div class="home-station-block-component-wrapper">
    <!-- Home station -->
    <div class="row no-gutters mb-3">
        <div class="col-12">
            <div class="preferences-box">
                <!--  -->
                <h3 class="sub-title">Home Station
                    <span class="add-address-btn-block">
                        <button mat-button>Edit</button>
                    </span>
                </h3>
                <!--  -->
                <div class="home-station-block">
                    <div class="home-station-name">
                        Portsmouth Harbour
                    </div>
                    <div class="facility-block">
                        <ul class="list-inline">
                            <li class="list-inline-item"><span class="carpark-icon"></span>Car Park</li>
                            <li class="list-inline-item"><span class="wifi-icon"></span>WiFi</li>
                            <li class="list-inline-item"><span class="expansion-icon"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end -->