<div class="preferred-smartcard-wrapper myprefrences-container">
    <!-- pref smart card -->
    <div class="row no-gutters mb-3">
        <div class="col-12">
            <div class="preferences-box">
                <h3 class="sub-title">Preferred Smartcard</h3>
                <div class="preferences-content-details">
                    <div class="buy-ticket-block">
                        <mat-form-field floatLabel="never" class="fix-selectfield">
                            <mat-label>*************0193</mat-label>
                            <mat-select>
                                <mat-option>*************0193</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
</div>