<h2 class="text-center"> Change Password</h2>
<div class="container wrapper-container">
    <div class="forgot-password-page">
        <p>To change the password please enter your current passowrd and a new password twice.</p>
        <div class="change-password-form">
            <form [formGroup]="resetForm"  (ngSubmit)="submitData()">
              
                <mat-form-field>
              <div class="row align-center">
                <div class="col-sm-6 text-right">
                  <mat-label>New Passowrd *</mat-label>
                </div>
                <div class="col-sm-6">
                  <input matInput placeholder=""  formControlNWame="newpassword" required>
                  <div *ngIf="resetForm.get('newpassword').hasError('required') && isSubmitted">
                    <span class="validation-err">This Field is Required !!</span>
                </div>
                <div *ngIf="resetForm.get('newpassword').hasError('passwordStrength') && isSubmitted">
                  <span class="validation-err">The password must be at least 8 characters, one uppercase and lowercase letter, one number and one special character       
                      (!,-_.@;:$%).</span>
          </div>
                </div>

                
            </div>
                </mat-form-field>
                <mat-form-field>
            <div class="row align-center">
                <div class="col-sm-6 text-right">
                  <mat-label>Confirm New Passowrd *</mat-label>
                </div>
                <div class="col-sm-6">
                  <input matInput placeholder=""  formControlName="confirmpassword" required>
                  <div *ngIf="resetForm.get('confirmpassword').hasError('required') && isSubmitted">
                    <span class="validation-err">This Field is Required !!</span>
                </div>
                <div class="validation-err" *ngIf="resetForm.get('confirmpassword').errors && isSubmitted">Password must match</div>
                </div>
            </div> 
          </mat-form-field>
             <button mat-button class="changePassword text-right" type="submit">Change</button>
           
            </form>
         
        </div>
        <!-- <div class="changePassword text-right">
            <button mat-button >Change</button>
        </div> -->
    </div>
</div>