.wrapper-container
{
    background-color: #fff;
    border-top: 3px solid #0092CB;
    padding: 30px 0 60px;
}
h2
{
    padding-top:15px;
}
.forgot-password-page
{
    width:500px;
    margin:  0 auto;
    max-width: 90%;
}
.forgot-password-page p 
{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.5;
}
.forgot-password-page label
{
    font-size: 16px;
    font-weight: 500;
}
.forgot-password-page input
{
    background-color: #fff;
    color: #000;
}
.forgot-password-page input::placeholder
{
    color:#000;
    font-weight: 500;
}
.forgot-password-page .submitBtn
{
    width:100%;
    background-color: #0092CB;
    color: #fff;
    font-weight: 400;
    margin: 20px 0;
}
.changePassword button
{
  background-color: #0092CB;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 115px;
}
.changePassword button:hover
{
    cursor:pointer;
}
.change-password-form
{
    margin: 10px auto;;
}
.align-center {
    align-items: center;
    margin-bottom: 15px;
}
mat-label
{
    font-weight: 500;
}
@media(max-width:767px)
{
    .change-password-form .text-right {
        text-align: left!important;
        padding-bottom: 10px;
    }
}