.modal-popup-container {
    padding: 20px;
}
.add-address input, .add-address mat-select
{
    background-color: #fff;
}
.modal-footer
{
    padding: 20px 0 0 ;
    border: none;
}
.modal-popup-container .card-heading
{
    border-bottom:1px solid #000;
}