<div class="saved-journey-component-wrapper">
    <!-- saved journey -->
    <div class="row no-gutters mb-3">
        <div class="col-12">
            <div class="preferences-box">
                <h3 class="sub-title">Saved Journeys</h3>
                <div class="saved-journey-block">
                    <div class="saved-journ-notification mb-3">
                        Please note:
                        <br> No reservations are retained for saved journeys, and the price shown is subject to
                        availablity when confirming your booking.
                    </div>

                    <div class="saved-journey-detail-block">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-5">
                                <ul class="save-journ-detail">
                                    <li class="save-journ-list-title">Saved Journey 1</li>
                                    <li>London Marylebone to Birmingham Moor Street</li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-5">
                                <ul class="save-journ-detail">
                                    <li class="save-journ-list-title"> &pound; 55.00</li>
                                    <li>Outward: 12:51, Mon 15 Jul 2019</li>
                                    <li>Return: --</li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-2 journey-buy-tkt-btn">
                                <div class="">
                                    <button mat-button> Buy Now</button>
                                </div>
                            </div>

                        </div>
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-12">
                                <div class="saved-jour-btn-grp">
                                    <button mat-button>Remove</button>
                                    <button mat-button>Edit</button>
                                    <button mat-button>Email</button>
                                    <button mat-button>Print</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="saved-journey-detail-block">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-5">
                                <ul class="save-journ-detail">
                                    <li class="save-journ-list-title">Saved Journey 1</li>
                                    <li>London Marylebone to Birmingham Moor Street</li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-5">
                                <ul class="save-journ-detail">
                                    <li class="save-journ-list-title"> &pound; 55.00</li>
                                    <li>Outward: 12:51, Mon 15 Jul 2019</li>
                                    <li>Return: --</li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-2 journey-buy-tkt-btn">
                                <div class="">
                                    <button mat-button> Buy Now</button>
                                </div>
                            </div>

                        </div>
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-12">
                                <div class="saved-jour-btn-grp">
                                    <button mat-button>Remove</button>
                                    <button mat-button>Edit</button>
                                    <button mat-button>Email</button>
                                    <button mat-button>Print</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12 col-sm-12 save-journ-viewmore-btn">
                            <button mat-button> view more</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--  -->