<div class="continuous-authority-wrapper myprefrences-container">
    <!-- continuos authority block -->
    <div class="authority-block">
        <div class="delivery-preferences-accordion-container">
            <mat-accordion>
                <mat-expansion-panel>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="auth-title">Continuous Authority</div>

                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="continuous-info">
                        <p class="mb-0">You currently have no active continuous authorities
                        </p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <!--  -->
</div>