<h2 class="text-center"> Forgot Password</h2>
<div class="container wrapper-container">
    <div class="forgot-password-page">
        <p>If you are already registered with us and have forgotten your password, please enter the email
            address that you used to register with us,  and we will email you a new password.
        </p>
        <form [formGroup]="forgotForm"  (ngSubmit)="submitData()">
            <label>Email Address</label>
            <mat-form-field class="example-full-width" floatLabel="never" appearance="none">
                <input matInput placeholder="Enter your email address" formControlName="email" required>
                <div *ngIf="forgotForm.get('email').hasError('required') && isSubmitted && !isSuccess">
                    <span class="validation-err">This Field is Required !!</span>
                </div>
            </mat-form-field>
           <button mat-button class="submitBtn">Send Email</button>
        </form>
        <div class="signIn text-center">
            <span (click) ="loginPopup()">Sign In</span>
        </div>
    </div>
</div>